<?xml version="1.0"?>
<OSPFASConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="OSPF.xsd">

  <!-- Areas -->
  <Area id="0.0.0.0">
    <AddressRange address="Cor1" mask="Cor1" status="Advertise" />
    <AddressRange address="Cor2" mask="Cor2" status="Advertise" />
    <AddressRange address="Agg1" mask="Agg1" status="Advertise" />
    <AddressRange address="Agg2" mask="Agg2" status="Advertise" />
    <AddressRange address="Agg3" mask="Agg3" status="Advertise" />
    <AddressRange address="Agg4" mask="Agg4" status="Advertise" />
    <AddressRange address="s1" mask="s1" status="Advertise" />
    <AddressRange address="s2" mask="s2" status="Advertise" />
    <AddressRange address="s3" mask="s3" status="Advertise" />
    <AddressRange address="s4" mask="s4" status="Advertise" />
    <AddressRange address="s5" mask="s5" status="Advertise" />
    <AddressRange address="s6" mask="s6" status="Advertise" />
    <AddressRange address="s7" mask="s7" status="Advertise" />
    <AddressRange address="s8" mask="s8" status="Advertise" />
    <AddressRange address="s9" mask="s9" status="Advertise" />
    <AddressRange address="s10" mask="s10" status="Advertise" />
    <AddressRange address="s11" mask="s11" status="Advertise" />
    <AddressRange address="s12" mask="s12" status="Advertise" />
    <AddressRange address="s13" mask="s13" status="Advertise" />
    <AddressRange address="s14" mask="s14" status="Advertise" />
    <AddressRange address="s15" mask="s15" status="Advertise" />
    <AddressRange address="s16" mask="s16" status="Advertise" />
    <AddressRange address="s17" mask="s17" status="Advertise" />
    <AddressRange address="s18" mask="s18" status="Advertise" />
    <AddressRange address="s19" mask="s19" status="Advertise" />
    <AddressRange address="s20" mask="s20" status="Advertise" />
    <AddressRange address="s21" mask="s21" status="Advertise" />
    <AddressRange address="s22" mask="s22" status="Advertise" />
    <AddressRange address="s23" mask="s23" status="Advertise" />
    <AddressRange address="s24" mask="s24" status="Advertise" />
    <AddressRange address="s25" mask="s25" status="Advertise" />
    <AddressRange address="s26" mask="s26" status="Advertise" />
    <AddressRange address="s27" mask="s27" status="Advertise" />
    <AddressRange address="s28" mask="s28" status="Advertise" />
    <AddressRange address="s29" mask="s29" status="Advertise" />
    <AddressRange address="s30" mask="s30" status="Advertise" />
    <AddressRange address="s31" mask="s31" status="Advertise" />
    <AddressRange address="s32" mask="s32" status="Advertise" />
  </Area>

  <!-- Routers -->
  <Router name="Cor1" RFC1583Compatible="true">
    <PointToPointInterface ifName="eth0" areaID="0.0.0.0" interfaceOutputCost="2" />
    <PointToPointInterface ifName="eth1" areaID="0.0.0.0" interfaceOutputCost="2" />
    <PointToPointInterface ifName="eth2" areaID="0.0.0.0" interfaceOutputCost="2" />
    <PointToPointInterface ifName="eth3" areaID="0.0.0.0" interfaceOutputCost="2" />
  </Router>
  
  <Router name="Cor2" RFC1583Compatible="true">
    <PointToPointInterface ifName="eth0" areaID="0.0.0.0" interfaceOutputCost="2" />
    <PointToPointInterface ifName="eth1" areaID="0.0.0.0" interfaceOutputCost="2" />
    <PointToPointInterface ifName="eth2" areaID="0.0.0.0" interfaceOutputCost="2" />
    <PointToPointInterface ifName="eth3" areaID="0.0.0.0" interfaceOutputCost="2" />
  </Router>
  
  <Router name="Agg1" RFC1583Compatible="true">
    <BroadcastInterface ifName="eth0" areaID="0.0.0.0" interfaceOutputCost="2" />
    <BroadcastInterface ifName="eth1" areaID="0.0.0.0" interfaceOutputCost="2" />
    <PointToPointInterface ifName="eth2" areaID="0.0.0.0" interfaceOutputCost="2" />
    <PointToPointInterface ifName="eth3" areaID="0.0.0.0" interfaceOutputCost="2" />
  </Router>
  
  <Router name="Agg2" RFC1583Compatible="true">
    <BroadcastInterface ifName="eth0" areaID="0.0.0.0" interfaceOutputCost="2" />
    <BroadcastInterface ifName="eth1" areaID="0.0.0.0" interfaceOutputCost="2" />
    <PointToPointInterface ifName="eth2" areaID="0.0.0.0" interfaceOutputCost="2" />
    <PointToPointInterface ifName="eth3" areaID="0.0.0.0" interfaceOutputCost="2" />
  </Router>
  
  <Router name="Agg3" RFC1583Compatible="true">
    <BroadcastInterface ifName="eth0" areaID="0.0.0.0" interfaceOutputCost="2" />
    <BroadcastInterface ifName="eth1" areaID="0.0.0.0" interfaceOutputCost="2" />
    <PointToPointInterface ifName="eth2" areaID="0.0.0.0" interfaceOutputCost="2" />
    <PointToPointInterface ifName="eth3" areaID="0.0.0.0" interfaceOutputCost="2" />
  </Router>
  
  <Router name="Agg4" RFC1583Compatible="true">
    <BroadcastInterface ifName="eth0" areaID="0.0.0.0" interfaceOutputCost="2" />
    <BroadcastInterface ifName="eth1" areaID="0.0.0.0" interfaceOutputCost="2" />
    <PointToPointInterface ifName="eth2" areaID="0.0.0.0" interfaceOutputCost="2" />
    <PointToPointInterface ifName="eth3" areaID="0.0.0.0" interfaceOutputCost="2" />
  </Router>
  
</OSPFASConfig>

